
body{
    background: url("../images/bg2.jpg") no-repeat !important;
    height:100% !important;
    width:100% !important;
    background-size: cover !important;
}
/*------padding------*/
.padding-mini{
    padding:0.2em !important;
}
.padding-big{
    padding: 2em !important;
}
.nav-padding-tb-mini{
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}
.footer-padding-tb-max{
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}
.padding-tb-large{
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}
.padding-tb-big{
    padding-top: 3em !important;
    padding-bottom: 3em !important;
}
.padding-lr-response{
    padding-left: 4em !important;
    padding-right: 4em !important;
}



/*margin*/
.margin-tb-tiny{
    margin-top: 0.3em !important;
    margin-bottom: 0.3em !important;
}
.margin-top-small{
    margin-top: 0.5em !important;
}
.margin-top-large{
    margin-top: 2em !important;
}
.margin-bottom-small{
    margin-bottom: 0.5em !important;
}

/*----text----*/
.text-thin{
    font-weight: 300 !important;
}
.text-spaced{
    letter-spacing: 1px !important;
}
.text-lined{
    line-height: 1.8 !important;
}
.text-opacity{
    opacity: 0.8 !important;
}

/*-------display-------*/
.inline-block{
    display: inline-block !important;
}

/*---------container-----------*/
.me-container{
    max-width: 72em !important;
    margin: auto !important;
}
.me-container-small{
    max-width: 60em !important;
    margin: auto !important;
}

/*-----color------*/
.text-color{
    color: #333 !important;
}

/*-------position-------*/
.a-top-right{
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
}
.m-fixed{
    position: fixed !important;
    z-index: 2 !important;
}
.m-right-bottom{
    bottom: 200px !important;
    right: 0 !important;
}


/*-------当为pc端的时候隐藏--------*/
.mobile-show{
    display: none !important;
}
.mobile-wide{
    width: 100%;
}

/*------当为手机端的时候隐藏菜单栏------*/
@media screen and (max-width: 768px){
    .mobile-hide{
        display: none !important;
    }
    .mobile-show{
        display: block !important;
    }
    .padding-lr-response{
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .mobile-lr-clear{
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
}


/*------shadow-small------*/
.shadow-small{
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.2) !important;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2) !important;
}

